<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,iVBORwOKGO=" />
  <link rel="stylesheet" href="./assets/css/styles.css">
  <title>This is EJS</title>
</head>

<body>

  <%- include('./pages/main.ejs', {})%>

  <script src="./assets/js/index.bundle.js"></script>
</body>

</html>